/* common attribiute start */
body {
  width: 100%;
  /* height: 3306px; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

.flexible {
  display: flex;
}
/* common attribute end */

/* -----------------------
|--Heading Section Start--|
-------------------------*/
.nav-section {
  display: flex;
}
.nav-leftside {
  display: inline-block;
  margin-left: 100px;
  margin-top: 87px;
}
.main-logo {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.nav-rightside {
  display: inline-block;
  margin-left: 470px;
  margin-top: 87px;
  margin-right: 100px;
}
.nav-item {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}
/* ---------------------
|--Heading Section End--|
-----------------------*/
/* -------------------- */
/* ---------------------
|--Main Section Start--|
-----------------------*/
.intro-left {
  width: 60%;
  margin-left: 100px;
  margin-top: 80px;
}
.intro-heading {
  font-size: 50px;
  font-weight: 700px;
  font-family: "Poppins", sans-serif;
}
.intro-para {
  text-align: justify;
}
.link-button {
  padding: 10px 20px;
  background-color: rgb(71, 185, 230);
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  border-radius: 25px;
}
.intro-right {
  width: 40%;
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 165px;
}
.bacground {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 127, 80, 0.152);
  border-radius: 50%;
  /* margin: 65px; */
  margin-top: 65px;
  margin-left: 70px;
  margin-bottom: 70px;
}
.intro-right img {
  position: relative;
  width: 440px;
  height: 414px;
  border-radius: 50%;
  border: 2px solid rgba(232, 226, 226, 0.227);
  transition: transform 0.1s ease-in 1s;
}
.intro-right:hover {
  transform: scale(1.2);
}
/* ---------------------
|---Main Section End---|
-----------------------*/
/* ----------------------- */
/* ----------------------------
|--Company icon Section Start--|
-----------------------------*/
.company-icon-section {
  margin-top: 100px;
  margin-left: 140px;
  margin-right: 140px;
}
.company-icons {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  transition: transform 2s ease-in 1s;
  /* transition-timing-function: ease-in; */
}
.border {
  margin-left: 60px;
  width: 80%;
  height: 2px;
  background-image: radial-gradient(
    rgba(204, 204, 204, 0.686),
    rgba(255, 255, 255, 0.186)
  );
  background-position: 0, 100%, 0, 100%;
}
.company-icons img:hover {
  transform: scale(1.5);
}
/* --------------------------
|--Company icon Section End--|
---------------------------*/
/* ---------------------------- */
/* -------------------------------
|--Popular Content Section Start--|
--------------------------------*/
.content-section {
  width: 1047px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}
.content-section-heading {
  text-align: center;
}
.content-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.content {
  width: 329px;
  height: 476px;
  border-radius: 15px;
  border: 2px solid rgba(128, 128, 128, 0.049);
  background-color: white;
  transition: transform 0.1s ease-in 1s;
}
.content:hover {
  transform: scale(1.1);
}
.content-img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
.content-heading {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.price {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0%;
}
.viewer-rating {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0%;
}
.star-icon {
  color: rgb(233, 83, 24);
}
.rating {
  margin-left: 10px;
}
.flexible-rating {
  display: flex;
  flex-direction: row;
}
.content-details {
  margin-top: 5px;
  margin-left: 15px;
}
.more {
  text-align: right;
  margin-right: 5px;
}
.seemore-button {
  color: rgb(71, 185, 230);
  font-size: 16px;
  font-weight: 200;
}
/* -----------------------------
|--Popular Content Section EnD--|
------------------------------*/
/* ----------------------
|--Extra Section Start--|
----------------------*/
.Extra-section {
  margin-top: 100px;
  margin-left: 160px;
  margin-right: 160px;
}
.Extra-section-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.Team-Section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.review-card {
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.049);
  border-radius: 25px;
  transition: transform 0.1s ease-in 1s;
}
.team-image {
  padding: 10px;
  height: 280px;
  width: 280px;
}
.review-card:hover {
  transform: scale(1.2);
}

.reviwer-name {
  text-align: center;
}
.review {
  padding: 10px;
  text-align: justify;
}
/* --------------------
|--Extra Section EnD--|
--------------------*/
/* -------------------- */
/* ---------------------
|--Footer Section Start-|
----------------------*/
.footer-section {
  margin-top: 100px;
  background-color: rgb(1, 1, 24);
  color: #ffffff;
  text-align: center;
  padding: 50px;
}
.icon {
  height: 25px;
  width: 25px;
}
/* --------------------
|--Footer Section EnD--|
--------------------*/
/* -----------------------------
|--Media Query For Mobile View--|
-------------------------------*/
@media only screen and (max-width: 688px) {
  body {
    width: 100%;
  }

  /* -----------------------
|--Heading Section Start--|
-------------------------*/
  .heading-section {
    width: auto;
  }
  .nav-leftside {
    display: inline-block;

    margin-top: 87px;
  }
  .main-logo {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  .nav-rightside {
    display: none;
  }
  /* ---------------------
|--Heading Section End--|
-----------------------*/
  /* ---------------------
|--Main Section Start--|
-----------------------*/
  .flexible {
    display: flex;
    flex-direction: column;
  }
  .intro-section {
    width: auto;
  }

  .intro-left {
    width: auto;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    order: 2;
  }
  .intro-heading {
    font-size: 15px;
    font-weight: 700px;
  }
  .intro-para {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro-right {
    margin-left: 70px;
    text-align: center;
    order: 1;
  }
  .bacground {
    width: 180px;
    height: 180px;
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.152);
  }
  .intro-right img {
    width: 250px;
    height: 250px;
  }

  /* ---------------------
|---Main Section End---|
-----------------------*/

  /* ----------------------------
|--Company icon Section Start--|
-----------------------------*/
  .company-icon-section {
    width: 80%;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
  }
  .company-icons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 25px;
    justify-content: center;
  }
  .company-icons img {
    height: 55px;
    width: 75px;
  }
  .border {
    margin-left: 25px;
    width: 80%;
    height: 2px;
    background-image: radial-gradient(
      rgba(209, 209, 209, 0.686),
      rgba(209, 206, 206, 0.186)
    );
    background-position: 0, 100%, 0, 100%;
  }

  /* --------------------------
|--Company icon Section End--|
---------------------------*/

  /* -------------------------------
|--Popular Content Section Start--|
--------------------------------*/
  .content-section {
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content-section-heading {
    width: auto;
    text-align: center;
  }
  .content-container {
    width: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    width: 329px;
    height: 450px;
    margin-left: 25px;
  }

  .content-img {
    width: 280px;
    height: 240px;
  }

  .flexible-rating {
    display: flex;
    flex-direction: row;
  }
  .rating {
    margin-left: 5px;
  }

  .more {
    text-align: center;
  }
  .seemore-button {
    color: rgb(71, 185, 230);
    font-size: 16px;
    font-weight: 200;
  }
  /* -----------------------------
|--Popular Content Section EnD--|
------------------------------*/
  /* ----------------------
|--Extra Section Start--|
----------------------*/
  .Extra-section {
    width: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Team-Section {
    margin-left: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  /* --------------------
|--Extra Section EnD--|
--------------------*/

  /* ---------------------
|--Footer Section Start-|
----------------------*/

  /* --------------------
|--Footer Section EnD--|
--------------------*/
}

/* -----------------------------
|--Media Query For Tablet View--|
-------------------------------*/
@media only screen and (min-width: 689px) and (max-width: 992px) {
  body {
    width: 100%;
    margin: 0%;
  }

  /* -----------------------
|--Heading Section Start--|
-------------------------*/

  .nav-rightside {
    display: none;
  }

  /* ---------------------
|--Heading Section End--|
-----------------------*/
  /* ---------------------
|--Main Section Start--|
-----------------------*/
  .intro-left {
    width: 60%;
    margin-left: 50px;
    margin-top: 80px;
    margin-right: 5px;
  }
  .intro-right {
    width: 40%;
    margin-top: 120px;
    margin-right: 80px;
    margin-left: 85px;
  }

  /* ---------------------
|---Main Section End---|
-----------------------*/

  /* ----------------------------
|--Company icon Section Start--|
-----------------------------*/
  .company-icon-section {
    width: 60%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 20px;
  }
  .company-icons {
    grid-gap: 5%;
  }
  /* --------------------------
|--Company icon Section End--|
---------------------------*/

  /* -------------------------------
|--Popular Content Section Start--|
--------------------------------*/
  .content-section {
    width: auto;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .content-section-heading {
    text-align: center;
  }
  .content-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .flexible-rating {
    display: flex;
    flex-direction: row;
  }
  /* -----------------------------
|--Popular Content Section EnD--|
------------------------------*/

  /* ----------------------
|--Extra Section Start--|
----------------------*/
  .Extra-section {
    width: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .Team-Section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  /* --------------------
|--Extra Section EnD--|
--------------------*/

  /* ---------------------
|--Footer Section Start-|
----------------------*/

  .footer-section {
    width: 100%;
    height: auto;
  }
  /* --------------------
|--Footer Section EnD--|
--------------------*/
}
