/* common attribiute start */
body {
  width: 100%;
  /* height: 3306px; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

.flexible {
  display: flex;
}
/* common attribute end */

/* -----------------------
|--Heading Section Start--|
-------------------------*/
.nav-section {
  display: flex;
}
.nav-leftside {
  display: inline-block;
  margin-left: 100px;
  margin-top: 87px;
}
.main-logo {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.nav-rightside {
  display: inline-block;
  margin-left: 470px;
  margin-top: 87px;
  margin-right: 100px;
}
.nav-item {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}
/* ---------------------
|--Heading Section End--|
-----------------------*/
/* -------------------- */
/* ---------------------
|--Main Section Start--|
-----------------------*/
.intro-left {
  width: 60%;
  margin-left: 100px;
  margin-top: 80px;
}
.intro-heading {
  font-size: 50px;
  font-weight: 700px;
  font-family: "Poppins", sans-serif;
}
.link-button {
  padding: 10px 20px;
  background-color: rgb(71, 185, 230);
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  border-radius: 25px;
}
.intro-right {
  width: 40%;
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 165px;
}
.bacground {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 127, 80, 0.152);
  border-radius: 50%;
  /* margin: 65px; */
  margin-top: 65px;
  margin-left: 70px;
  margin-bottom: 70px;
}
.intro-right img {
  position: relative;
  width: 440px;
  height: 414px;
  border-radius: 50%;
  border: 2px solid rgba(232, 226, 226, 0.227);
  transition: transform 0.1s ease-in 1s;
}
.intro-right:hover {
  transform: scale(1.2);
}
/* ---------------------
|---Main Section End---|
-----------------------*/
/* ----------------------- */
/* ----------------------------
|--Company icon Section Start--|
-----------------------------*/
.company-icon-section {
  margin-top: 100px;
  margin-left: 140px;
  margin-right: 140px;
}
.company-icons {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  transition: transform 2s ease-in 1s;
  /* transition-timing-function: ease-in; */
}
.border {
  margin-left: 60px;
  width: 80%;
  height: 2px;
  background-image: radial-gradient(#ccc, #fff), radial-gradient(#ccc, #fff);
  background-position: 0, 100%, 0, 100%;
}
.company-icons img:hover {
  transform: scale(1.5);
}
/* --------------------------
|--Company icon Section End--|
---------------------------*/
/* ---------------------------- */
/* -------------------------------
|--Popular Content Section Start--|
--------------------------------*/
.content-section {
  width: 1047px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}
.content-section-heading {
  text-align: center;
}
.content-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.content {
  width: 329px;
  height: 476px;
  border-radius: 15px;
  border: 2px solid rgba(128, 128, 128, 0.049);
  background-color: white;
  transition: transform 0.1s ease-in 1s;
}
.content:hover {
  transform: scale(1.2);
}
.content-img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
.content-heading {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.price {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0%;
}
.viewer-rating {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0%;
}
.star-icon {
  color: rgb(233, 83, 24);
}
.rating {
  margin-left: 10px;
}
.content-details {
  margin-top: 5px;
  margin-left: 15px;
}
.more {
  text-align: right;
  margin-right: 5px;
}
.seemore-button {
  color: rgb(71, 185, 230);
  font-size: 16px;
  font-weight: 200;
}
/* --------------------------
|--Company icon Section EnD--|
---------------------------*/
/* ----------------------
|--Extra Section Start--|
----------------------*/
.Extra-section {
  margin-top: 100px;
  margin-left: 160px;
  margin-right: 160px;
}
.Extra-section-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.Team-Section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.review-card {
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.049);
  border-radius: 25px;
  transition: transform 0.1s ease-in 1s;
}
.team-image {
  padding: 10px;
  height: 280px;
  width: 280px;
}
.review-card:hover {
  transform: scale(1.2);
}

.reviwer-name {
  text-align: center;
}
.review {
  padding: 10px;
  text-align: justify;
}
/* --------------------
|--Extra Section EnD--|
--------------------*/
/* -------------------- */
/* ---------------------
|--Footer Section Start-|
----------------------*/
.footer-section {
  margin-top: 100px;
  background-color: rgb(1, 1, 24);
  color: #ffffff;
  text-align: center;
  padding: 50px;
}
.icon {
  height: 25px;
  width: 25px;
}
/* --------------------
|--Footer Section EnD--|
--------------------*/
